p 
{
  font-size: 1.8em;
  color: blue;
  font-family: sans-serif;
}

@font-face {
  font-family: 'PrinceOfPersia';
  src: url('PrinceOfPersia.ttf');
}

h1
{
  font-size: 350%;
  color: red;
  font-family: 'PrinceOfPersia', Arial, serif;
  font-style: italic;
}

em
{
  text-decoration: inderline;
}

.introduction, .salutations
{
  color: green;
  font-weight: bold;
}