p 
{
  font-size: 1.8em;
  color: blue;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: overline;
}

@font-face {
  font-family: 'PrinceOfPersia';
  src: url('PrinceOfPersia.ttf');
}

h1
{
  font-size: 350%;
  color: red;
  font-family: 'PrinceOfPersia', Arial, serif;
  font-style: italic;
  text-align: center;
}

em
{
  text-decoration: underline;
}

.introduction
{
  color: green;
  text-decoration: line-through;
  text-align: right;
}

.salutations
{
  text-decoration: blink;
}

.imageflottante
{
  float: left;
  clear: both;
}