body
{
  background-image: url("sky.gif");
  background-attachment: fixed;
  background-repeat: repeat-x;
}

p
{
  font-size: 1.8em;
  color: blue;
  font-weight: bold;
}

h1
{
  font-size: 350%;
  color: #7923E5;
  font-family: Arial, serif;
  font-style: italic;
  text-align: center;
}

mark
{
  background-color: green;
  color: rgb(192,63,88);
}

.introduction
{
  color: green;
}

.salutations
{
  text-decoration: blink;
}